# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: MIPS Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  job_1:
    name: run test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      run: |
        pytest -rfP > MIPS_tests.log
    - name: upload logs
      uses: actions/upload-artifact@v2
      with:
        name: Test_logs
        path: MIPS_tests.log
    - name: Sum test result
      run: |
        python3 tests/result.py
    - name: upload score
      uses: actions/upload-artifact@v2
      with:
        name: Total
        path: Total.md
  
  job_2:
    name: checksum
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: check testfolder
      working-directory: ./checksum
      run: |
        chmod +x check
        ./check
